.phone__list-table {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
}

.table__head th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 16px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
}

.table__body td {
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
}

.table__thead tr th:first-child,
.table__body tr td:first-child {
    border-left: none;
}

.table__thead tr th:last-child,
.table__body tr td:last-child {
    border-left: none;
}

.table__body tr:nth-child(even) {
    background: #f3f3f3;
}

.phone__list-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action {
    margin: 0 5px;
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 5px 10px;
    border-radius: 7px;
    transition: opacity 0.2s ease;
    color: white;
    font-size: 10px;
    font-weight: 700;
}

.action:hover {
    opacity: 0.6;
}

.action--delete {
    background-color: red;
}

.action--change {
    background-color: grey;
}

.add__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add__form-input {
    width: 200px;
    margin: 10px;
    padding: 3px 7px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 12px;
}

.add__form-actions {
    display: flex;
    margin-top: 15px;
}

.actions__btn,
.phone__add-button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease;
}

.actions__btn:hover,
.phone__add-button:hover {
    opacity: 0.7;
}

.actions__btn.add,
.phone__add-button {
    background-color: rgb(54, 186, 54);
}

.actions__btn.cancel {
    background-color: lightcoral;
}

.phone__add-button {
    margin: 20px 0;
}
